# Dépendances
*/node_modules/
# Production & Build
*/dist/
*/build/
*/*.tsbuildinfo

# Environnement & Secrets
.env
.env.*
!.env.example
!.env.test

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tests
coverage/

# IDE & Système
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.sln
*.njsproj

# NestJS (Backend)

# React (Frontend)
frontend/.eslintcache

